<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{Beer.name}}</h3>
    </div>
    <div class="panel-body">
        <h4>Nom de la bière:</h4>
            {{Beer.name}}
        <h4>Description:</h4>
            {{Beer.description}}
        <table>
            <tr>
                <td>
                    <h4>Date de création:</h4>
                </td>
                <td width="10%">
                    &nbsp
                </td>
                <td>
                    <h4>Date de mise à jour:</h4>
                </td>
            </tr>
            <tr>
                <td>
                    {{Beer.created_at}}
                </td>
                <td>
                    &nbsp
                </td>
                <td>
                    {{Beer.updated_at}}
                </td>
            </tr>
        </table>
    </div>
</div>