<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{Brewery.name}}</h3>
    </div>
    <div class="panel-body">
        <h4>Nom de la brasserie:</h4>
            {{Brewery.name}}
        <h4>URL:</h4>
            {{Brewery.url}}
        <table>
            <tr>
                <td>
                    <h4>Date de création:</h4>
                </td>
                <td width="10%">
                    &nbsp
                </td>
                <td>
                    <h4>Date de mise à jour:</h4>
                </td>
            </tr>
            <tr>
                <td>
                    {{Brewery.created_at}}
                </td>
                <td>
                    &nbsp
                </td>
                <td>
                    {{Brewery.updated_at}}
                </td>
            </tr>
        </table>
    </div>
</div>